---
layout: default
---

<div class="home">

  <h1>List of members:</h1>

  <ul class="posts">
    {% for member in site.data.members %}
      <li>
        <a href="https://github.com/{{ member.github }}">{{ member.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1>Organizations:</h1>

  <ul class="posts">
    {% for org_hash in site.data.orgs %}
      {% assign org = org_hash[1] %}
      <li>
        <a href="https://github.com/{{ org.github }}">{{ org.name }}</a>
        ({{ org.members | size }} members)
      </li>
    {% endfor %}
  </ul>

</div>
